<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPO.PersistenceServices.RestClient" version="1.0.3733" targetFramework="net451" />
  <package id="IPO.PersistenceServices.SerializationService" version="1.0.3733" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
</packages>