<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPO.PersistenceServices.Files.Models" version="1.0.3733" targetFramework="net451" />
  <package id="IPO.PersistenceServices.RestClient" version="1.0.3733" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>